.theme-switcher {
  display: flex;
  align-items: center;
  align-self: flex-start;
  height: 24px;
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
}
