.post-summary-list-item {
  display: block;
}
.post-summary-list-item:not(:first-of-type) {
  margin-top: 50px;
}

.title {
  font-size: var(--font-size-md);
  line-height: 1.2;
  color: var(--title-color);
}

.date {
  margin-top: 8px;
  font-size: var(--font-size-sm);
  color: var(--misc-color);
}

.summary {
  margin-top: 20px;
  line-height: 1.4;
}
