:root {
  /* CODE BLOCK COLORS */
  --block-bg: #bdc3c7;
  --block-text: #1a2334;

  /* THEME */
  /* LIGHT */
  --bg-color-light: #ededed;
  --text-color-light: #3b3b3b;
  --title-color-light: #343c47;
  --misc-color-light: #ba5143;
  /* DARK */
  --bg-color-dark: #003f5e;
  --text-color-dark: #ededed;
  --title-color-dark: #b5bdc8;
  --misc-color-dark: #fecf48;

  /* FONTS */
  --font-family: "Helvetica", sans-serif;
  --font-family-code: "Menlo", monospace;
  --font-weight-light: 300;
  --font-weight-normal: 400;

  /* SIZES */
  --max-width: 720px;
}
