.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 70px;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 5px;
  color: olive;
  font-size: 15px;
}
