.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 70px;
}

.links {
  display: flex;
  gap: 10px;
}

.link {
  color: var(--misc-color);
  font-size: var(--font-size-sm);
}

.link a {
  padding: 5px;
}

.link:first-child a {
  padding-left: 0;
}
