.post {
    margin-top: 60px;
    font-family: var(--font-family);
}
.post > h1 {
    color: var(--title-color);
    font-size: 26px;
    font-weight: var(--font-weight-light);
}
.post > h1 + p {
    margin-top: 10px;
    font-size: 15px;
    color: var(--misc-color);
}
.post > h2 {
    margin-top: 40px;
    color: var(--title-color);
    font-size: 24px;
    font-weight: var(--font-weight-light);
}
.post > p {
    margin-top: 20px;
    line-height: 1.4;
}
.post > hr + p {
    margin-top: 40px;
}
.post > p > a {
    color: var(--misc-color);
}
.post > ul,
.post > ol {
    margin-top: 20px;
    padding-left: 20px;
    list-style: disc;
}
.post > ul > li,
.post > ol > li {
    margin-top: 10px;
}
.post > pre {
    margin: 20px -10px 0 -10px;
}
.post > pre > code {
    font-family: var(--font-family-code);
    font-size: 15px;
    line-height: 1.4;
}
.post p > code {
    padding: 0 4px;
    font-family: var(--font-family-code);
    font-size: 15px;
    color: var(--block-text);
    background-color: var(--block-bg);
    border-radius: 4px;
}
.post > blockquote {
    margin-top: 20px;
    padding-left: 30px;
    font-style: italic;
    line-height: 1.4;
}
.post > hr {
    margin-top: 40px;
    height: 2px;
    background-color: var(--text-color);
}
.post > p > em {
    font-style: italic;
}
.post > .video-wrapper {
    position: relative;
    margin-top: 20px;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.post > .video-wrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post > img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .post > pre {
        margin: 20px 0 0 0;
        border-radius: 4px;
    }
}
